* {
  margin: 0;
  height: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: white;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: .25;
      -ms-flex: .25;
          flex: .25;
  background: #2f3136;
  height: 100%;
}

.sidebar-profile {
  padding: 10px;
  background: #292b2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-profile_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-profile_info .user {
  padding-left: 5px;
}

.sidebar-profile_info p {
  color: #8e9297;
}

.sidebar-profile_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-profile_icons .red {
  color: red;
}

.sidebar-profile_icons .dontDisplay {
  display: none;
}

.sidebar-profile_icons .icon {
  color: #8e9297;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
}

.sidebar-profile_icons .icon:hover {
  background: #36393f;
}

.sidebar .server {
  background: #2f3136;
}

.sidebar .server-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 1vw;
  margin-top: 1vh;
  border-bottom: 3px solid #36393f;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar .server .channelsGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 1vh;
  color: #8e9297;
}

.sidebar .server .channelsGroup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8e9297;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .server .channelsGroup-header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar .server .channelsGroup .expand {
  font-size: 20px;
}

.sidebar .server .channelsGroup .addIcon {
  cursor: pointer;
}

.sidebar .server .channelsGroup .addIcon:hover {
  color: white;
}

.sidebar .connection {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #36393f;
  background-color: #292b2f;
}

.sidebar .connection-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3ba55c;
}

.sidebar .connection-status .signal {
  font-size: 24px;
}

.sidebar .connection-info p {
  color: #8e9297;
}

.sidebar .connection .disconnect {
  color: #8e9297;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}

.sidebar .connection .disconnect:hover {
  background: #36393f;
}

.sidebarChannel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.sidebarChannel h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebarChannel_hash {
  font-weight: 500;
  font-size: 30px;
  padding: 8px;
}

.sidebarChannel:hover {
  color: white;
  background: #36393f;
}

.chat {
  background: #36393f;
  height: 100%;
  -webkit-box-flex: .75;
      -ms-flex: .75;
          flex: .75;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */